<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mr. Robot</title>
    <script src="/static/keypress/keypress.js"></script>
    <script src="/static/jquery-3.1.1.js"></script>
  </head>
  <body>
    <script src="/static/myKeys.js"></script>
    <div class="instructions">
      <h1>Controls</h1>
      <p>Movement: wasd Keys</p>
      <p>Z Height: f - up :: h - down</p>
      <p>Swiping: ijkl</p>
      <p>Power(tap): p</p>
      <p>Power(hold): delete</p>
      <p>Tap: space</p>

    </div>
  </body>
</html>
