<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mr. Robot</title>
    <script src="/static/keypress/keypress.js"></script>
    <script src="/static/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="/static/test.css">
  </head>
  <body>
    <script src="/static/myKeys.js"></script>
    <div class="instructions">
      <div class="info">
	<div>
	  <h1>Controls</h1>
	  <ul class="gradient-list">
	    <li>Movement: wasd Keys</li>
	    <li>Z Height: f - up :: h - down</li>
	    <li>Swiping: ijkl</li>
	    <li>Power(tap): p</li>
	    <li>Power(hold): delete</li>
	    <li>Tap: space</li>
	  </ul>
	</div>
      </div>

    </div>
  </body>
</html>
